<h2>Share your opinion with us</h2>

{% form 'contact' %}
  {{ form.errors | default_errors }}

  <div class="email">
    <label for="email">Email</label>
    <input
      type="email"
      name="contact[email]"
      id="email" />
  </div>

  <div class="message">
    <label for="message">Message</label>
    <textarea name="contact[body]" id="message"></textarea>
  </div>

  <button type="submit">Create</button>
{% endform %}

<style>
  h2 {
    text-align: center;
  }
  .contact-form {
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  .contact-form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  div {
    margin-bottom: 15px;
  }

  input {
    height: 24px;
  }

  textarea {
    height: 100px;
  }

  input,
  textarea {
    border-radius: 6px;
    border: 1px solid;
  }

  button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    width: 60px;
    height: 24px;
    border-radius: 6px;
    align-self: center;
  }
</style>